<ion-header>
  <ion-navbar>
    <ion-title>
      Review {{ store.name }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="reviews.length > 0">
    <ion-item *ngFor="let item of reviews; let reviewIndex = index">
      <ion-avatar item-start>
        <img [defaultImage]="defaultPropict" [lazyLoad]="item.user.propict" [alt]="item.user.name">
      </ion-avatar>
      <div item-start>
        <h2 text-wrap>{{ item.user.username }}</h2>
        <p text-wrap>{{ item.review }}</p>
      </div>
      <div item-end text-right>
        <span class="date">{{ item.date | amTimeAgo }}</span>
        <rating no-margin [(ngModel)]="item.score"
        readOnly="true"
        max="5"
        emptyStarIconName="star-outline"
        halfStarIconName="star-half"
        starIconName="star"
        nullable="false">
      </rating>
      </div>
    </ion-item>
  </ion-list>
  <p text-center *ngIf="isLoading"><em>Sedang Memuat...</em></p>
  <p text-center *ngIf="!isLoading && reviews.length === 0"><em>Tidak ada ulasan</em></p>
</ion-content>
