<ion-header>
  <ion-navbar>
    <ion-title>
      Oh No MyFriends!
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content refreshingText="Loading..."></ion-refresher-content>
  </ion-refresher>
  <ion-list class="filter" no-margin>
    <ion-item style="color: black;">
      <ion-label>Filter Status</ion-label>
      <ion-select [(ngModel)]="filterKey" [compareWith]="compareFilter" (ionChange)="changeFilter()">
        <ion-option text-wrap *ngFor="let filter of listFilter; let i = index" [value]="filter.value">{{ filter.label }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item-sliding *ngFor="let item of complaints; let complaintIndex = index">
      <ion-item (click)="detail(item)" style="color: black;">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
                <ion-avatar item-start>
                    <img [defaultImage]="defaultPropict" [lazyLoad]="item.thread.last_message.propict">
                  </ion-avatar>
            </ion-col>
            <ion-col col-6>
                <strong text-wrap>{{ item.thread.last_message.username }}</strong>
                <h3 text-wrap>{{ item.thread.subject }}</h3>
                <p text-wrap>{{ item.thread.last_message.message }}</p>
                <ion-badge>{{ item.invoice.code }}</ion-badge>
              </ion-col>
              <ion-col col-4>
                  <div class="status" [innerHtml]="item.status.html"></div>
                  <small>{{ item.created_at | amTimeAgo }}</small>
                  <p text-wrap>Pembelian dari {{ item.invoice.seller | get:'name' }}</p>
                </ion-col>
          </ion-row>
        </ion-grid>
      
     
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark" (click)="askClose(complaintIndex)" *ngIf="shouldCloseShow(item)">
          <ion-icon name="ios-checkmark-outline"></ion-icon>
          Selesai
        </button>
        <!-- <button ion-button color="secondary" (click)="askOpen(complaintIndex)" *ngIf="item.status.code === 1">
          <ion-icon name="ios-folder-open-outline"></ion-icon>
          Buka
        </button> -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p text-center *ngIf="isLoading" style="color: black;"><em>Sedang Memuat...</em></p>
  <p text-center *ngIf="!isLoading && complaints.length === 0" style="color: black;"><em>Tidak ada komplain</em></p>
</ion-content>
