<ion-header>
  <ion-navbar>
    <ion-title>
      Wallet Rp {{ user.wallet | numeral }}
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="create()">
        <ion-icon name="ios-document-outline"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-list padding>
    <button ion-item (click)="withdraw()" style="color: black;">
      History Withdraw
    </button>
  </ion-list>
  <h3 text-center class="page-title">Daftar Mutasi</h3>
  <table>
    <thead>
      <tr>
        <th>Catatan</th>
        <th>Awal</th>
        <th>Masuk</th>
        <th>Keluar</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody style="color: black;">
      <tr *ngFor="let item of wallet.data; let walletIndex = index">
        <td>
          <div text-wrap [innerHtml]="item.notes"></div>
          <span class="date" text-wrap>{{ item.date }}</span>
        </td>
        <td text-wrap text-center>{{ item.begin | numeral }}</td>
        <td text-wrap text-center>{{ item.in | numeral }}</td>
        <td text-wrap text-center>{{ item.out | numeral }}</td>
        <td text-wrap text-center>{{ item.balance | numeral }}</td>
      </tr>
      <tr *ngIf="!wallet.data.length && !isLoading">
        <td colspan="5"><p text-center><em>Tidak ada data</em></p></td>
      </tr>
      <tr *ngIf="isLoading">
        <td colspan="5"><p text-center><em>Sedang memuat...</em></p></td>
      </tr>
    </tbody>
  </table>
</ion-content>
