<ion-header>
  <ion-navbar>
    <ion-title>
      Komentar {{ story.caption }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="story.user.propict">
      </ion-avatar>
      <h2>{{ story.user.name }}</h2>
      <p>{{ story.created_at | amDateFormat:'D MMMM YYYY, h:mm:ss a' }}</p>
    </ion-item>
    <div class="video-thumbnail" *ngIf="story.type === 'video'" (click)="playVideo(story.media.url)">
      <img [src]="story.media.thumbnail">
    </div>
    <img [src]="story.media.thumbnail" *ngIf="story.type === 'image'" imageViewer="story.media.url">

    <ion-card-content>
      <p>{{ story.caption }}</p>
    </ion-card-content>
  </ion-card>
  <ion-list no-margin *ngIf="isLogged()">
    <ion-item-divider style="color: white;">Kirim Komentar</ion-item-divider>
    <ion-item>
      <ion-textarea [(ngModel)]="message" rows="4" fz-elastic placeholder="Pesan" style="color: white;"></ion-textarea>
    </ion-item>
  </ion-list>
  <div padding *ngIf="isLogged()">
    <button ion-button icon-left block (click)="submit()">
      <ion-icon name="ios-send-outline"></ion-icon>
      Kirim
    </button>
  </div>
  <ion-list>
    
    <ion-item-divider style="color: white;">Komentar</ion-item-divider>
    <div *ngFor="let item of story.comments; let commentIndex = index" style="margin-top:5%">
        <ion-item >
          <ion-grid>
            <ion-row>
              <ion-col col-2>
                   <ion-avatar item-start>
        <img [src]="item.user.propict" >
      </ion-avatar>
              </ion-col>
              <ion-col col-10>
                  <h2 align="left">{{ item.user.username }}</h2>
                  <p>{{ item.created_at | amTimeAgo }}</p>
              </ion-col>
             
            </ion-row>
            <ion-row>
              <ion-col>
                  <h3 text-wrap style="color: black;" align="justify">{{ item.message }}</h3>
              </ion-col>
  
            </ion-row>
           
            <ion-row *ngIf="user.id === item.user.id">
              <ion-col>
                  <button ion-button color="danger" (click)="askRemove(commentIndex)">
                      <ion-icon name="ios-trash-outline"></ion-icon>
                      Hapus
                    </button>
              </ion-col>
            </ion-row>
          </ion-grid>
          
         
         
         
         
        </ion-item>
      
  
      </div>
    
    <ion-item *ngIf="!story.comments.length">
      <p><em>Tidak ada komentar</em></p>
    </ion-item>
  </ion-list>
</ion-content>
