<ion-header>
  <ion-navbar>
    <ion-title>{{ action === 'edit' ? 'Edit' : 'Buat' }} Story</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-margin>
    <ion-item>
      <ion-textarea style="color: white;" [(ngModel)]="caption" fz-elastic placeholder="Apa yang kamu pikirkan?"></ion-textarea>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block icon-left (click)="submit()">
      <ion-icon name="ios-send"></ion-icon>
      {{ action === 'edit' ? 'Update' : 'Kirim' }}
    </button>
  </div>
  <div>
    <img [src]="file.thumbnail" style="width: 100%; min-height: 200px;" *ngIf="story.type === 'image' && action === 'add'">
    <div *ngIf="story.type === 'video' && action === 'add'">
     <video width="100%" controls>
  <source [src]="file.url+'#t=0.1'" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
    </div>
    <div *ngIf="action === 'edit'">
      <div class="video-thumbnail" *ngIf="story.type === 'video'" (click)="playVideo(story.media.url)">
        <img [src]="story.media.thumbnail">
      </div>
      <img [src]="story.media.thumbnail" imageViewer="story.media.url" *ngIf="story.type === 'image'">
    </div>
  </div>
</ion-content>
